/* Aturan dasar tombol titik tiga (sembunyi di layar laptop/komputer) */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffd700;
    user-select: none;
    padding: 5px 10px;
}

/* Tampilan khusus saat layar HP / Layar Kecil (Maksimal lebar 768px) */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Memunculkan tombol titik tiga di HP */
    }

